<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemAccessMapper">

    <select id="queryUserAccess" parameterType="Map" resultType="cn.edu.hpu.autoweb.entity.UserAccess">
        select a.* from useraccess a
         INNER JOIN systemmenu b on a.AccessId = b.MenuId
         where b.Status = 'Used' and a.userid = #{userid}
    </select>

    <delete id="deleteUserAccessByUserId" parameterType="Map">
        DELETE FROM useraccess WHERE userid =#{userid}
    </delete>

    <select id="queryRoleAccess" parameterType="Map" resultType="cn.edu.hpu.autoweb.entity.RoleAccess">
        select a.* from roleaccess a
         INNER JOIN systemmenu b on a.AccessId = b.MenuId
         where b.Status = 'Used' and a.RoleId = #{roleid}
    </select>

    <delete id="deleteRoleAccessByRoleId" parameterType="Map">
        DELETE FROM roleaccess WHERE RoleId =#{roleid}
    </delete>

</mapper>