<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryManagerMapper">

    <select id="queryCategoryByParentID" parameterType="Map" resultType="Map">
        select *
        from categorys
        where parent_id = #{parentId}
        order by priority desc,id
    </select>

    <select id="queryCidsByCategoryIDs" parameterType="Map" resultType="String">
        select distinct cid from category_cid where category_id in
        <foreach collection="secondCategory_ids" item="secondCategory_id" open="(" close=")" separator=",">
            #{secondCategory_id}
        </foreach>
    </select>
</mapper>